@use 'variables' as v;


h1, h2, h3 {
    margin:4rem 0 0 0;
    line-height: 1.5;
    text-align: center;
}

h1{
    font-size: 4.1rem;
}

h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: v.$primario;

    span {
        display: block;
        font-size: 1.8rem;
        color: v.$secundario;
    }

    &::after {
        content: '';
        display: block;
        width: 10rem;
        height: 10rem;
        background-image: url(../img/cafe.svg);
        background-size: 10rem;
        margin: 0 auto;
    }
}

h3 {
    font-size: 3.2rem;
}

p {
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: v.$negro;
}

.heading-blanco {
    @extend h2;
    color: v.$blanco;

    span {
        color: v.$blanco;
    }

    &::after {
        display: none;
    }
}
