@use 'variables' as v;

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$primario;
}

.bg-cafe {
    background-color: v.$primario;
}

.bg-white {
    background-color: v.$blanco;
}

.margin-negativo {
    margin-top: -9rem;
}